:root {

    --ifm-color-primary: #7105ec;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;

}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

body {

    font-family: "Clarity City", "Avenir Next", sans-serif;

}

html[data-theme='dark'] {

    --ifm-color-primary: #953cf5;
    --ifm-color-primary-dark: #5a91ea;

}

.navbar {

    background: #dedede;

}

html[data-theme='dark'] .navbar {

    background: #000;

}

html[data-theme='dark'] article a {

    color: lightgreen;

}

html[data-theme='dark'] h4 {

    color: lightgreen;

}

html[data-theme='light'] h3 {

    color: #366dcf;

}

html[data-theme='dark'] h3 {

    color: cornflowerblue;

}

.footer {

    background: #000;

}

.footer img {

    max-width: 50%;
    margin: 30px;

}

.footer__copyright {

    color: #868686;

}

.announcementBarContent_node_modules-\@docusaurus-theme-classic-lib-next-theme-AnnouncementBar- {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px !important;
    font-size: unset !important;

}

/* Tabs */
.tabs-container .tabs {

    justify-content: flex-end;
    align-items: flex-end;

}

.tabs-container .tabs li {

    padding: 10px;
    font-weight: normal;
    font-size: 11px;

}

.margin-vert--md {

    margin-top: 0 !important;
    background: #efefef;

}

html[data-theme='dark'] .margin-vert--md {

    background: #111;

}

.markdown p {

}
